@import 'tailwindcss';

@theme inline {
  --font-syne: var(--font-syne-family);
  --font-poppins: var(--font-poppins-family);
}

@theme {
  --color-black: #030303;
  --color-gray-50: #fafbfc;
  --color-gray-100: #edeff1;
  --color-gray-400: #c8c8c8;
  --color-gray-500: #bebebe;
  --color-gray-700: #595858;
  --color-gray-800: #272728;
  --color-stone-300: #ddcec7;
  --color-orange-600: #d54300;
}

@utility bg-hero-gradient {
  background-image: linear-gradient(180deg, #010101, #0f0f44);
}

@layer base {
  html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }
}
